<div>
  <div style="display: block">

    <div echarts [options]="chartOption" [loading]="showloading" class="demo-chart"
         style="height: 600px; width: 100%"></div>
    <div echarts [options]="Baroptions" [loading]="showloading" class="demo-chart"
         style="height: 600px; width: 100%"></div>
    <div echarts [options]="linkoption" [loading]="showloading" class="demo-chart"
         style="height: 600px; width: 100%"></div>
    <div echarts [options]="mapoption" [loading]="showloading" class="demo-chart"
         style="height: 600px; width: 100%"></div>

    <div echarts [options]="gradientoption" [loading]="showloading" class="demo-chart"
         style="height: 600px; width: 100%"></div>
    <div echarts [options]="gaugeoption" [loading]="showloading" class="demo-chart"
         style="height: 600px; width: 100%"></div>
  </div>
</div>
