<div style="display: block;">
  <button type="button" class="btn btn-info c-mb15" (click)="randomize()" style="position: absolute;margin-top: -10px">
    刷新
  </button>
  <div>
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
